<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Recuperar contraseña</title>
    <link rel="shortcut icon" type="image/x-icon" href="../client-side/images/icono_decroche.jpeg" />



    <!-- Styles -->
    <link href="../dashboard/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="../dashboard/css/lib/themify-icons.css" rel="stylesheet">
    <link href="../dashboard/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../dashboard/css/lib/helper.css" rel="stylesheet">
    <link href="../dashboard/css/style.css" rel="stylesheet">
</head>

<body class="bg-primary">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="../../index.php"><span><img src="../client-side/images/decrochea.png" ></span></a>
                        </div>
                        <div class="login-form" style="position:relative;" >
                            <h4>Restablecer contraseña</h4>

                            <p>si tus datos coinciden te enviaremos un correo para que restablescas la contraseña</p>
                            <form action="../../Controllers/recuperarClave.php" method="post">
                                <div class="form-group">
                                    <!-- <label>Identificación</label>
                                    <input type="number" class="form-control" placeholder="identificacion" name="identificacion"> -->
                                    <label>Direccion de email</label>
                                    <input type="email" class="form-control" placeholder="Email" name="email">
                                </div>
                                <button type="submit" class="btn btn-primary btn-flat m-b-15">Enviar</button>
                                <div class="register-link text-center">
                                    <p>Volver al <a href="../../index.php"> Inicio</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>